<footer class="site-footer">
            <div class="site-footer__top">
                <div class="container">
                    <div class="site-footer__top-inner">
                        <div class="footer-widget__title-box">
                            <h2 class="footer-widget__title">Let's Create<br> Something Great</h2>
                            <p class="footer-widget__text">We shift you from today's reality to tomorrow's potential,
                                ensuring</p>
                        </div>
                        <div class="footer-widget__btn">
                            <a href="#contact">Let's Talk<span class="icon-arrow-up-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-footer__bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="site-footer__bottom-inner">
                                <div class="site-footer__bottom-menu-box">
                                    <ul class="list-unstyled site-footer__bottom-menu">
                                        <li><a href="about.html">About Company</a></li>
                                        <li><a href="#about">Our Careers</a></li>
                                        <li><a href="#services">Services</a></li>
                                        <li><a href="#contact">contact</a></li>
                                    </ul>
                                    <ul class="list-unstyled site-footer__bottom-menu">
                                        <li><a href="#">Privacy Policy</a></li>
                                        <li><a href="#">Terms & Conditions</a></li>
                                    </ul>
                                </div>
                                <div class="site-footer__social-and-copyright">
                                    <div class="site-footer__social-box">
                                        <a href="#"><span class="icon-facebook"></span></a>
                                        <a href="#"><span class="icon-twitter"></span></a>
                                        <a href="#"><span class="icon-instagram"></span></a>
                                        <a href="#"><span class="icon-beeeee"></span></a>
                                    </div>
                                    <p class="site-footer__copyright-text">Copyright © 2025 <a href="#">G Design</a>. All
                                        Rights Reserved.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--Site Footer End-->